<%- include("partials/header") %>
 
<div class="container alto">
    <div class="row">
        <% comments.forEach(function(comments){ %>
            <div class="col-12 statement">
                <h4><strong><%= comments.author %></strong></h4>
                <p><%= comments.text %></p>
            </div>
        <% }); %>
    </div>
    <a class="btn btn-primary addition" href="/comment">New Comment</a>
</div>
 


<%- include("partials/footer") %>