<%- include("partials/header") %>

<div class="container">
    <div class="row">
        <div class="col-12 statement">
            <h4><strong> * </strong></h4>
            <p> * </p>
        </div>
    </div>
    <a class="btn btn-primary" href="/comment">New Comment</a>
</div>



<%- include("partials/footer") %>