<%- include("partials/header") %>

<div class="fluid-container">
    <div class="row">
        <div class="col-12 container jumbotron">
            <h1> Welcome to Classroom</h1>
            <h3>Click on the link below to enrole!</h3>
            <a class="btn btn-info" href="/">Sign Up!</a>
        </div>
        
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="courses">Look below to see some of the courses we have on offer</h1>
        </div>
        <div class="col-12 col-sm-6 col-md-4 containter display">
            <h3 class="course-title">Basic Microbiology</h3>
            <p>Includes a focus on:</p>
            <ul>
                <li>Infection Control</li>
                <li>Identification</li>
                <li>Basic Microbial Genetics</li>
            </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-4 containter display">
            <h3 class="course-title">Basic Chemistry</h3>
            <p>Includes a focus on:</p>
            <ul>
                <li>The Periodic Table</li>
                <li>Rate Reactions</li>
                <li>Formula Calculations</li>
            </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-4 containter display">
            <h3 class="course-title">Art History</h3>
            <p>Example sections include:</p>
            <ul>
                <li>Pre Renaissance Art</li>
                <li>Renaissance Art</li>
                <li>Modern Styles</li>
            </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-4 containter display">
            <h3 class="course-title">Basic Cooking</h3>
            <p>Including sections such as:</p>
            <ul>
                <li>Food Hygine</li>
                <li>Kitchen Safety</li>
                <li>Basic Techniques</li>
            </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-4 containter display">
            <h3 class="course-title">Electronics</h3>
            <p>Key sections include:</p>
            <ul>
                <li>Theory</li>
                <li>Safety</li>
                <li>Equipment</li>
            </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-4 containter display">
            <h3 class="course-title">Taxidermy</h3>
            <p>Sections in this course include:</p>
            <ul>
                <li>Chemicals commonly used</li>
                <li>Sewing styles</li>
                <li>Legal Considerations</li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 explan">
            <h2 class="toned">What Is Classroom?</h2>
            <p>Classroom is a free service that provides Massive Open Online Courses for its users. The courses on Classroom are intended to provide basic skills and information. We aim to provide a basic understanding of the studied subject in small, interactive bites.</p>
            <p>Classroom courses can be done in a few hours at your own leisure. We aim to place the rate of learning in your hands. Take as long or as short of a time as you need.</p>
            <br>
            <h2 class="toned">How does Classroom work?</h2>
            <p>Simply register with us and click upon a course to start. Each course is divided into a number of lessons you can read through at your own pace and the course ends with a test that checks your understanding. You can only undertake the test once you have finished all lessons.</p>
            <p>Once you obtain a passing score in the test, you pass the course. If you don't get the passing score, you can retake the test as often as you wish until you do. You can have multiple courses ongoing at once and, most importantly, the courses are ALL free. Classroom will never ask for payment or account details. We are here to help you learn and develop. Nothing else. </p>
        </div>
    </div>
</div>

<%- include("partials/footer") %>