<%- include("partials/header") %>
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="slideshow">
                <ul>
                    <li class="slider">
                        <div class="card">
                            <img id="s1" class="card-img slide" src="">
                        </div>
                    </li>
                    <li class="slider">
                        <div class="card">
                            <img id="s2" class="card-img slide van" src="assets/images/Slide2.jpg">
                        </div>
                    </li>
                    <li class="slider">
                        <div class="card">
                            <img id="s3" class="card-img slide van" src="assets/images/Slide3.jpg">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-3">
            <button id="backward" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
        </div>
        <div class="col-3">
            <button id="forward" class="btn btn-primary"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
        </div>
    </div>
</div>
<br>
<br>
<br>





<%- include("partials/footer") %>