<%- include("partials/header") %>
<div class="container">
    <div class="row">
        <div class="col-12 ques">
            <p>Q1: Click button A for 1 Mark.</p>
            <ul>
                <li><input type="radio">A</li>
                <li><input type="radio">B</li>
                <li><input type="radio">C</li>
                <li><input type="radio">D</li>
            </ul>
        </div>
        <div class="col-12 ques">
            <p>Q2: Click button B for 1 Mark.</p>
            <ul>
                <li><input type="radio">A</li>
                <li><input type="radio">B</li>
                <li><input type="radio">C</li>
                <li><input type="radio">D</li>
            </ul>
        </div>
        <div class="col-12 ques">
            <p>Q3: Click button C for 1 Mark.</p>
            <ul>
                <li><input type="radio">A</li>
                <li><input type="radio">B</li>
                <li><input type="radio">C</li>
                <li><input type="radio">D</li>
            </ul>
        </div>
        <div class="col-12 ques">
            <p>Q4: Click button D for 1 Mark.</p>
            <ul>
                <li><input type="radio">A</li>
                <li><input type="radio">B</li>
                <li><input type="radio">C</li>
                <li><input type="radio">D</li>
            </ul>
        </div>
        <div class="col-12 ques">
            <p>Q5: Click button A for 1 Mark.</p>
            <ul>
                <li><input type="radio">A</li>
                <li><input type="radio">B</li>
                <li><input type="radio">C</li>
                <li><input type="radio">D</li>
            </ul>
        </div>
        <div class="col-12 ques">
            <p>Q6: Click button C for 1 Mark.</p>
            <ul>
                <li><input type="radio">A</li>
                <li><input type="radio">B</li>
                <li><input type="radio">C</li>
                <li><input type="radio">D</li>
            </ul>
        </div>
        <div class="col-12 ques">
            <p>Q7: Click button D for 1 Mark.</p>
            <ul>
                <li><input type="radio">A</li>
                <li><input type="radio">B</li>
                <li><input type="radio">C</li>
                <li><input type="radio">D</li>
            </ul>
        </div>
        <div class="col-12 ques">
            <p>Q8: Click button C for 1 Mark.</p>
            <ul>
                <li><input type="radio">A</li>
                <li><input type="radio">B</li>
                <li><input type="radio">C</li>
                <li><input type="radio">D</li>
            </ul>
        </div>
        <div class="col-12 ques">
            <p>Q9: Click button B for 1 Mark.</p>
            <ul>
                <li><input type="radio">A</li>
                <li><input type="radio">B</li>
                <li><input type="radio">C</li>
                <li><input type="radio">D</li>
            </ul>
        </div>
        <div class="col-12 ques">
            <p>Q10: Click button B for 1 Mark.</p>
            <ul>
                <li><input type="radio">A</li>
                <li><input type="radio">B</li>
                <li><input type="radio">C</li>
                <li><input type="radio">D</li>
            </ul>
        </div>
        <input type="submit">
    </div>
</div>


<%- include("partials/footer") %>