body {
    font-family: Carrois Gothic;
}

.jumbotron {
    width: 100%;
    background: #2332ff;
    text-align: center;
}

.jumbotron h1 {
    text-align: center;
    font-size: 5rem;
}

.navbar {
    background: #e3f2fd;
}

.courses {
    text-align: center;
    font-size: 2rem;
}

.display {
    border: solid 1px navy;
    width: 25%;
}

.course-title {
    color: rgba(80, 10, 80, 0.678);
}

.navbar-brand {
    padding-right: 1.5rem;
}

.navbar li {
    padding-right: 7rem;
}

.explan {
    margin-top: 1.5rem;
}

.toned {
    color: navy;
}

.explan p {
    margin: 0.5rem;
}

.titlea {
    margin-left: 5%;
}

.titleb {
    margin-left: 10%;
}

input {
    display: block;
    margin-bottom: 0.5rem;
    width: 50%;
}

.legal {
    background: rgba(28, 30, 39, 0.876);
    color: white;
    margin-top: 19rem;
    font-size: 1.5rem;
}

.register-form {
    margin-top: 5rem;
    margin-left: 25%;
    margin-right: 25%;
}

.input {
    display: block;
    border: solid 1px blue;
    margin: 2px;
    width: 40%;
}

.blackboard {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 10%;
    margin-right: 10%;
    background: darkblue;
    height: 35rem;
}

.controls {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 3rem;
}

.btn-primary {
    padding-left: 2rem;
    padding-right: 2rem;
}

li {
    list-style: none;
}

#backward {
    display: inline;
    margin-left: 70%;
}

#forward {
    display: inline;
    margin-left: 240%;
}

.sona {
    padding: 1rem 0rem 3rem 2rem;
    display: flex;
    flex-direction: column;
}

.drem {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.van {
    display: none;
}

#test {
    margin-right: 50%;
    margin-left: 50%;
}

.profile {
    margin-top: 1rem;
    font-size: 1.5rem;
    background: #f0edfd;
}

.innine {
    display: inline;
}

.key-name {
    width: 100px;
}

.presentation {
    border: solid 1px black;
    margin-left: 2rem;
}

#s1 {
    width: 60rem;
    height: 30rem;
}

.commentry {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3rem;
}

#textbox {
    width: 70%;
}

.addition {
    margin-top: 1rem;
}

.alto {
    margin-top: 1rem;
}

.statement {
    color: blue;
    background: #c9d6df;
    border: solid 1px black;
    width: 100%;
    margin-bottom: 0.2rem;
    padding-left: 1rem;
    padding-right: 0rem;
}

.statement h4 {
    width: 50%;
}

.statement p {
    width: 90%;
}

.none {
    display: none;
}