body {
    font-family: Carrois Gothic;
}

.jumbotron {
    width: 100%;
    background: #2332ff;
    text-align: center;
}

.jumbotron h1 {
    text-align: center;
    font-size: 5rem;
}

.navbar {
    background: #e3f2fd;
}

.courses {
    text-align: center;
    font-size: 2rem;
}

.display {
    border: solid 1px navy;
    width: 25%;
}

.course-title {
    color: rgba(80, 10, 80, 0.678);
}

.navbar-brand {
    padding-right: 1.5rem;
}

.navbar li {
    padding-right: 7rem;
}

.explan {
    margin-top: 1.5rem;
}

.toned {
    color: navy;
}

.explan p {
    margin: 0.5rem;
}

.legal {
    background: rgba(28, 30, 39, 0.876);
    color: white;
    margin-top: 1rem;
    font-size: 1.5rem;
}